.register-form {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 4Fr 4Fr;
	grid-template-rows: 1Fr;
}
.signup--form {
	width: 75%;
	padding: 20px 0px;
	margin: auto;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: steelblue;
	border-radius: 12px;
	box-shadow: 0px 0px 5px 10px white;
	color: white;
}

.signin--form {
	width: 60%;
	padding: 20px 0px;
	margin: auto;
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: steelblue;
	border-radius: 12px;
	box-shadow: 0px 0px 5px 10px white;
	color: white;
}

.form-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: right;
}

.invalid-feedback {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	margin: 10px 10px;
	margin-right: 10%;
	justify-content: center;
}

.form-check input {
	margin-right: 10px;
}

.form-check {
	margin: 10px 0px;
	margin-left: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
}

.form-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

button {
	margin: 10px 10px;
	padding: 5px 20px;
	background-color: dimgrey;
	border-radius: 10px;
	border-color: grey;
	color: white;
}

button:hover {
	margin: 10px 10px;
	padding: 5px 20px;
	background-color: lightgrey;
	border-radius: 10px;
	border-color: grey;
	color: black;
	scale: 1.2;
}

button:active {
	margin: 10px 10px;
	padding: 5px 20px;
	background-color: orange;
	border-radius: 10px;
	border-color: orange;
	color: red;
	scale: 1.4;
	transform: translate(-1px, -1px);
}

.btn-storage {
	width: 150px;
	height: 60px;
	margin: 10px 10px;
	padding: 5px 20px;
}

span {
	color: white;
}

.call--local {
	margin: auto;
	width: 70%;
	margin-top: 50px;
	justify-content: center;
	background: steelblue;
	border: 2px solid white;
}